@media (max-width: 800px)
{
	body
	{
		margin-left: 0px !important;
		margin-right: 0px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.content { max-width: 100% !important; padding: 8px !important; }
	.biggerimage { width: 100% !important; }
}
.h1{
    text-align: center;
}
.size0 { font-size: 8px; }
.size1 { font-size: 11px; }
.comment { font-size: 11px; font-style: italic; }
.size2 { font-size: 12px; }
.size3 { font-size: 16px; font-weight: bold; }
.size4 { font-size: 18px; font-weight: bold; }
.size5 { font-size: 24px; font-weight: bold; }
.size6 { font-size: 32px; }
.wrapper {
    margin: 0 auto;
    width: 1000px;
}
.content
{
	display: inline-block;
	text-align: left;
	width: auto;
	margin: auto;
	max-width: 960px;
	padding: 20px 30px 20px 30px;
	background-color: 	#081d06;
	border-color: rgba(255, 255, 255, .2);
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
}

body
{
	background-color: #0c3f07;
	color: rgb(180, 180, 180);
	font-size: 14px;
	line-height: 1.357;
	font-family: sans-serif;
	text-align: center;
	padding: 10px;
	padding-bottom: 20px;
}
.quote
{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
